@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

.container {
    width: 1170px;
    padding: 50px 15px;
    margin: 0px auto;
    position: relative;
    z-index: 3;
}





.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 170px 20px 115px;
    background: black;
    font-family: "Open Sans", sans-serif;
    position: sticky;
    top: 0;
    z-index: 4;
}

.header__section {
    display: flex; 
    align-items: center;
}

.header__item {
    padding: 10px 15px;
    font-size: 14px;
    width: 113.8px;
}




.banner {
    background: url("../img/banner.svg") no-repeat center/100%;
    position: relative;
    padding: 170px;
}

.banner::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

.container__banner {
    display: flex;
    gap: 70px;
}

.banner__title {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #ffff;
}

.banner__separator {
    width: 170px;
    height: 1px;
    margin: 55px 0 42px;
    background-color: white;
}

.banner__button {
    border: 2px solid #FFFFFF;
    width: 270px;
    display: inline-block;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    margin-top: 42px;
}

.banner__secondary-title {
    color: #ffff;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 240px;
}

.banner__form {
    width: 470px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 150px;

}

.form__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: black;
}





.media {
    background: #F8EFEF;
}

.social-media__content {
    display: flex;
}

.social-media__description {
    width: 45%;
}

.social-media__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-top: -30px;
}

.social-media__secondary-title {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    color: #868788;
    margin-top: 34px;
}

.social-media__icons {
    padding: 5px;
    display: flex;
}

.icons__media:not(:last-child) {
    margin-right: 45px;
}

.icons__media:hover {
    transform: scale(1.3);
    transition: transform 0.25s;
    background: #EC7979;
}







.menu__item {
    width: 203px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #333333;
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
    list-style: none;
}

.menu__item:focus, .menu__item:hover, .menu__item:active {
    border: 1px solid #C6CBCD;
    z-index: 2;
    border-bottom-width: 0;
    background-color: #FFFFFF;
}

.content {
    border: 1px solid #C6CBCD;
    width: 100%;
    display: flex;
}

.content__img {
    display: block;
    margin-left: 158px;
}

.content__descr {
    max-width: 510px;
    padding: 0 100px;
}

.descr__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    width: 570px;
    margin-top: 62px;
}

.descr__text {
    width: 570px;
    margin: 30px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-right: 30px;
}

.descr__button {
    width: 270px;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    display: inline-block;
}




.main__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    text-align: center;
}

.separator {
    width: 170px;
    height: 1px;
    margin: 60px auto 40px;
}

.separator--red-color {
    background-color: #EC7979;
}

.main__secondary-title {
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
    color: #868788;
}

.about__list {
    list-style: none;
    margin-top: 110px;
}

.list__list-item {
    text-align: center;
    width: 33%;
    display: inline-block;
}

.list-item__image--wrapper {
    height: 92px;
    width: 92px;
    margin-bottom: 80px;
    border: 1px solid #EC7979;
    border-radius: 100px;
    margin-left: 140px;
    padding: center;
}

.list_list-item:nth-child(1) .list-item_image--wrapper {
    padding: 8.25px;
}

.list_list-item:nth-child(2) .list-item_image--wrapper {
    padding: 23px 12px;
}

.list-item__title {
    margin-bottom: 8px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
}

.list-item__text {
    margin: 30px;
    font-size: 18px;
}

.list-item__image_lamp {
    margin: 5px;
}

.list-item__image_keyboard {
    margin: 21px 5px;
}

.list-item__image_lightning {
    margin: 12px;
}




.pricing {
    background-color: #F5F5F5;
    list-style: none;
}

.pricing__options {
    display: flex;
    justify-content: space-between;
    margin: 79px 0 0 0;
}

.options__option:hover {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    margin-top: -20px;
    margin-bottom: 20px;
}

.options__title {
    width: 370px;
    border: 2px solid #F5F5F5;
    background-color:#333333;
    color: #F5F5F5;
}

.title__main {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 12px auto;
    display: block;
}

.options__price {
    width: 370px;
    border: 2px solid #F5F5F5;
    background-color:#333333;
    color: #F5F5F5;
}

.price__number {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 12px auto;
    display: block;
}

.options__secondary-title {
    width: 370px;
    border: 2px solid #F5F5F5;
    background-color:#333333;
    color: #F5F5F5;
}

.secondary-title__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 12px auto;
    display: block;
}

.list-item__space {
    width: 370px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
}

.space__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    display: block;
    margin-top: 15px;
}





.reviews__block {
    display: flex;
    margin-top: 83px;
    justify-content: space-between;

}

.content__text {
    background: #E2E2E2;
    width: 370px;
    border-radius: 10px;
    padding: 1px;
    margin-bottom: 66px;
}

.text__review {
    margin: 38px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    color: #86878B;
    align-item: center;
    position: relative;
}

.text__review::before {
    content: url("../img/Polygon.svg");
    position: absolute;
    widht: 30px;
    height: 20px;
    top: 143px;
    left: 30px;
}

.descr__name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    width: 269px;
    position: relative;
    margin: 0 79px;
}

.descr__name::before {
    content: url("../img/Manager1.svg");
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -84px;
    width: 50px;
    height: 50px;
}

.descr__position {
    margin: 15px 79px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 14px;
}




.design {
    background: url(../img/design_city.svg) no-repeat center/100%;
    position: relative;
}

.design::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

.main__title--white-color {
    color: #FFFFFF;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.separator--white-color {
    background-color: #FFFFFF;
}

.main__secondary-title--white-color {
    color: #FFFFFF;
    font-family: "Raleway";
    font-size: 18px;
    text-align: center;
}

.design__button {
    border: 2px solid #FFFFFF;
    width: 370px;
    display: inline-block;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    align-items: center;
    padding: 15px;
    margin: 73px 385px;
}