* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}

.tabs {
    max-width: 1170px;
    position: absolute;
    height: 540px;
    left: 170px;
    top: 99px;
}

.container {
    width: 1170px;
    height: 500px;
    position: absolute;
}

.tabs__item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-right: 90px;
    border-radius: 5px 5px 0 0;
}

.selected-tab {
    border: 0.5px solid #C6CBCD;
    padding: 10px;
    border-bottom: none;
    width: 184px;
    height: 40px;
}

.tabs__tab-descr {
    display: inline-block;
    width: 664px;
    vertical-align: top;
    padding-left: 66px;
    padding-right: 64px;
    padding-top: 40px;
    border: 0.5px solid #C6CBCD;
}

.tab-descr__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 70px;
}

.tab-descr__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.tab-descr__img--wrapper {
    display: inline-block;
    width: 470px;
}

.button--red-color {
    background-color: #EC7979;
    color: white;
    font-size: 15px;
    height: 58px;
    width: 270px;
    border: none;
    font-family: "Open Sans", sans-serif;
}